/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .duration-filter {
        background-color: #ffffff;
        padding-top: 18px;
        padding-bottom: 25px;
    }

    .duration-filter .duration {
        height: 20px;
        font-weight: 900;
        font-family: Helvetica;
        font-size: 14px;
        padding-bottom: 13px;
        padding-left: 40px;
    }
    .duration-filter .form {
        margin: 0 auto;
    }

    .input-range {
        width: 255px !important;
        margin: 0 auto;
    }

    .input-range__label--min {
        display: none;
    }
    .input-range__label--max {
        display: none;
    }

    .input-range__slider {
        background-color: #FFFFFF  !important;
        border: 1px solid #409CD1 !important;
    }

    .input-range__track--active {
        background: #409CD1  !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .duration-filter {
        background-color: #ffffff;
        padding-top: 18px;
        padding-bottom: 25px;
    }

    .duration-filter .duration {
        height: 20px;
        font-weight: 900;
        font-family: Helvetica;
        font-size: 14px;
        padding-bottom: 13px;
        padding-left: 40px;
    }
    .duration-filter .form {
        margin: 0 auto;
    }

    .input-range {
        width: 255px !important;
        margin: 0 auto;
    }

    .input-range__label--min {
        display: none;
    }
    .input-range__label--max {
        display: none;
    }

    .input-range__slider {
        background-color: #FFFFFF  !important;
        border: 1px solid #409CD1 !important;
    }

    .input-range__track--active {
        background: #409CD1  !important;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
    .duration-filter {
        background-color: #ffffff;
        padding-top: 18px;
        padding-bottom: 25px;
    }

    .duration-filter .duration {
        height: 20px;
        font-weight: 900;
        font-family: Helvetica;
        font-size: 14px;
        padding-bottom: 13px;
        padding-left: 40px;
        padding-bottom: 32px;
    }
    .duration-filter .form {
        margin: 0 auto;
    }

    .input-range {
        width: 80% !important;
        margin: 0 auto;
    }

    .input-range__label--min {
        display: none;
    }
    .input-range__label--max {
        display: none;
    }

    .input-range__slider {
        background-color: #FFFFFF  !important;
        border: 1px solid #409CD1 !important;
    }

    .input-range__track--active {
        background: #409CD1  !important;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
}


