/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .filters-view {
        background-color: #f2f2f2;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .filters-view .filter-by{
        height: 51px;
        background-color: #409CD1;
        padding-left: 30px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-family: Helvetica;
        font-weight: 900;
        margin-bottom: 10px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .filters-view {
        background-color: #f2f2f2;
        padding-bottom: 20px;
    }

    .filters-view .filter-by{
        height: 51px;
        background-color: #409CD1;
        padding-left: 30px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-family: Helvetica;
        font-weight: 900;
        margin-bottom: 10px;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
}


